body {
  background-color: #272822;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Menlo, Monaco, 'Courier New',
    monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
